section-control-for-agopengps.txt
[{"id":"3395b541.cbc772","type":"tab","label":"agopengps","disabled":false,"info":""},{"id":"5ed434b5.bc1704","type":"udp in","z":"3395b541.cbc772","name":"","iface":"","port":"8888","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":160,"y":340,"wires":[["4c0324fe.8f3ab4","6817ad1b.cf102c","fc0b942e.4a8e7","48d4e820.56dfc8","89d77ca8.884bc8","8c60b338.027b78","433d4a61.422514","f87dd15b.4635b8"]]},{"id":"23ec98a8.530528","type":"inject","z":"3395b541.cbc772","name":"[127,254,0,7,125,20,0,0,0,0]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,254,0,7,125,20,0,0,0,0]","payloadType":"bin","x":180,"y":200,"wires":[["6817ad1b.cf102c","4c0324fe.8f3ab4"]]},{"id":"1e2860cf.111aaf","type":"inject","z":"3395b541.cbc772","name":"[127,250,0,0,7,0,0,0,0,0]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,250,0,0,7,0,0,0,0,0]","payloadType":"bin","x":170,"y":240,"wires":[["6817ad1b.cf102c","4c0324fe.8f3ab4"]]},{"id":"6817ad1b.cf102c","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":450,"y":180,"wires":[]},{"id":"a61b349f.64cda8","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":140,"wires":[["a0153af5.044df","ad7491b0.b0e2c"]]},{"id":"c267df8c.27b1c","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":180,"wires":[["19226a9.0174c15"]]},{"id":"499bd687.26e6c8","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":220,"wires":[["2a1a082.5964af8"]]},{"id":"1e3d1c81.4135ab","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":260,"wires":[["ad5a8c68.77ae38"]]},{"id":"11ce1c61.3f3f94","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":300,"wires":[["f262911a.d52a"]]},{"id":"336a2a9f.671d36","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":340,"wires":[["f1fbd772.316c2"]]},{"id":"511cc706.df1a68","type":"rbe","z":"3395b541.cbc772","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":380,"wires":[["53891820.052698"]]},{"id":"a0153af5.044df","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":990,"y":80,"wires":[]},{"id":"63048f73.04a68","type":"mcp23017output","z":"3395b541.cbc772","name":"0-k1","chip":"aa60d181.9fbb1","bitNum":"0","invert":false,"x":1190,"y":140,"wires":[[]]},{"id":"3e129cc8.20fef4","type":"mcp23017output","z":"3395b541.cbc772","name":"1-k3","chip":"aa60d181.9fbb1","bitNum":"1","invert":true,"x":1190,"y":220,"wires":[[]]},{"id":"a40dcbb2.419d98","type":"mcp23017output","z":"3395b541.cbc772","name":"2-k5","chip":"aa60d181.9fbb1","bitNum":"2","invert":true,"x":1190,"y":300,"wires":[[]]},{"id":"c33b251b.32e9c","type":"mcp23017output","z":"3395b541.cbc772","name":"3-k7","chip":"aa60d181.9fbb1","bitNum":"3","invert":true,"x":1190,"y":380,"wires":[[]]},{"id":"1edb8155.01de5f","type":"mcp23017output","z":"3395b541.cbc772","name":"13-k6","chip":"aa60d181.9fbb1","bitNum":"13","invert":true,"x":1190,"y":340,"wires":[[]]},{"id":"5dfcf38a.2e2bfc","type":"mcp23017output","z":"3395b541.cbc772","name":"14-k4","chip":"aa60d181.9fbb1","bitNum":"14","invert":true,"x":1190,"y":260,"wires":[[]]},{"id":"58a6a257.8337dc","type":"mcp23017output","z":"3395b541.cbc772","name":"15-k2","chip":"aa60d181.9fbb1","bitNum":"15","invert":true,"x":1190,"y":180,"wires":[[]]},{"id":"e605b491.97d4b8","type":"inject","z":"3395b541.cbc772","name":"[127,250,0,250,7,0,0,0,125,0]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,250,0,255,7,0,0,0,0,0]","payloadType":"bin","x":180,"y":280,"wires":[["4c0324fe.8f3ab4"]]},{"id":"45e309cf.f6c46","type":"inject","z":"3395b541.cbc772","name":"section auto ON","props":[{"p":"payload","v":"[127,249,0,0,7,0,0,0,0,1]","vt":"bin"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,249,0,0,7,0,0,0,0,1]","payloadType":"bin","x":360,"y":1060,"wires":[["9a6ea1a2.14fb2"]]},{"id":"9a6ea1a2.14fb2","type":"udp out","z":"3395b541.cbc772","name":"","addr":"192.168.1.40","iface":"","port":"9999","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":730,"y":1080,"wires":[]},{"id":"b79120be.1ff9e8","type":"inject","z":"3395b541.cbc772","name":"section auto OFF","props":[{"p":"payload","v":"[127,249,0,0,7,0,0,0,0,2]","vt":"bin"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,249,0,0,7,0,0,0,0,2]","payloadType":"bin","x":360,"y":1100,"wires":[["9a6ea1a2.14fb2"]]},{"id":"ad7491b0.b0e2c","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":140,"wires":[["63048f73.04a68","8033e62.1f21c18"]]},{"id":"8033e62.1f21c18","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1190,"y":80,"wires":[]},{"id":"19226a9.0174c15","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":180,"wires":[["58a6a257.8337dc"]]},{"id":"2a1a082.5964af8","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":220,"wires":[["3e129cc8.20fef4"]]},{"id":"ad5a8c68.77ae38","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[["5dfcf38a.2e2bfc"]]},{"id":"f262911a.d52a","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["a40dcbb2.419d98"]]},{"id":"f1fbd772.316c2","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":340,"wires":[["1edb8155.01de5f"]]},{"id":"53891820.052698","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":380,"wires":[["c33b251b.32e9c"]]},{"id":"2d492dfe.5ed24a","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":720,"wires":[]},{"id":"94aad2ca.0c7b4","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":780,"wires":[]},{"id":"3860a78f.5f144","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":840,"wires":[]},{"id":"cbc7271.9f59f58","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":900,"wires":[]},{"id":"cba51fd5.122458","type":"range","z":"3395b541.cbc772","minin":"100","maxin":"","minout":"25","maxout":"","action":"scale","round":false,"property":"payload","name":"","x":860,"y":840,"wires":[["ce465e65.da655"]]},{"id":"ce465e65.da655","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1100,"y":840,"wires":[]},{"id":"42fa2974.71791","type":"debug","z":"3395b541.cbc772","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":960,"wires":[]},{"id":"7e4cee03.3ad088","type":"bit-sixteen","z":"3395b541.cbc772","name":"sections","x":620,"y":280,"wires":[["a61b349f.64cda8"],["c267df8c.27b1c"],["499bd687.26e6c8"],["1e3d1c81.4135ab"],["11ce1c61.3f3f94"],["336a2a9f.671d36"],["511cc706.df1a68"],[],[],[],[],[],[],[],[],[]]},{"id":"507d018.0146d8","type":"bit-sixteen","z":"3395b541.cbc772","name":"machine control","x":640,"y":540,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"4c0324fe.8f3ab4","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 250) {\n  msg['payload'] = ((msg['payload'])[3]);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">250</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"buffer_get_index\" id=\"XKFJEAPaM)W|-{)?!D=,\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"[`=%Vs4*4zw8hqTV%(L|\"><field name=\"NUM\">4</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"250","x":470,"y":280,"wires":[["7e4cee03.3ad088"]]},{"id":"fc0b942e.4a8e7","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 254) {\n  msg['payload'] = ((msg['payload'])[4]);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">254</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"buffer_get_index\" id=\"XKFJEAPaM)W|-{)?!D=,\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"[`=%Vs4*4zw8hqTV%(L|\"><field name=\"NUM\">5</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"254","x":470,"y":720,"wires":[["2d492dfe.5ed24a"]]},{"id":"48d4e820.56dfc8","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 254) {\n  msg['payload'] = ((msg['payload'])[5]);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">254</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"buffer_get_index\" id=\"XKFJEAPaM)W|-{)?!D=,\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"[`=%Vs4*4zw8hqTV%(L|\"><field name=\"NUM\">6</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"254","x":470,"y":780,"wires":[["94aad2ca.0c7b4"]]},{"id":"89d77ca8.884bc8","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 254) {\n  msg['payload'] = ((msg['payload'])[3]);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">254</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"buffer_get_index\" id=\"XKFJEAPaM)W|-{)?!D=,\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"[`=%Vs4*4zw8hqTV%(L|\"><field name=\"NUM\">4</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"speed *4","x":480,"y":840,"wires":[["3860a78f.5f144","cba51fd5.122458"]]},{"id":"8c60b338.027b78","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 254) {\n  msg['payload'] = (msg['payload']);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">254</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"254","x":470,"y":900,"wires":[["cbc7271.9f59f58"]]},{"id":"433d4a61.422514","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 250) {\n  msg['payload'] = (msg['payload']);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">250</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"250","x":470,"y":960,"wires":[["42fa2974.71791"]]},{"id":"f87dd15b.4635b8","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"if (((msg['payload'])[1]) == 250) {\n  msg['payload'] = ((msg['payload'])[5]);\n  node.send([msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"ZSd~FFiE%mA~O`#,SBB?\" x=\"63\" y=\"113\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"H-Z0fTFd2.nZ``_)n%]~\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"buffer_get_index\" id=\"hK09?N5:-Ex[p]m+b^nh\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"kqDPWW[gs?6k+*WK[y?$\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"U.bgh]mntn,#H_DBTO/m\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"p(Y0vi,%Odz$B/qfJt6C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"r|Cw^(zYsf4tVPpB[RQ/\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"rRr.C]d4o^}.ydwh8add\"><field name=\"NUM\">250</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"KeGXA%tTI1d:;o:V{G!x\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"~^-SLVbOK@5qK+khXcfa\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L=Az#PS,XnSo;|`8ZYC\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Z1hFp^VnG,$Y8Av9IX1=\"><field name=\"TEXT\"></field></shadow><block type=\"buffer_get_index\" id=\"XKFJEAPaM)W|-{)?!D=,\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"[`=%Vs4*4zw8hqTV%(L|\"><field name=\"NUM\">6</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"E]Y}Hljs8L:D.pCaG[hM\"></shadow><block type=\"node_object_get\" id=\"NMdV#eRxUK.+9#;i)sy?\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"]VdE]KE-kwp_tGttK{_1\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"2IU2JbN-Rd#3lK%R@W7(\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><next><block type=\"node_send\" id=\"RFe?#P*/;GuV]K2BZIWZ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"-#V3%tVBRB2Q(F1c)jAp\"></shadow></value></block></next></block></statement></block></xml>","outputs":1,"name":"250","x":470,"y":540,"wires":[["507d018.0146d8"]]},{"id":"cd6045fb.0451d","type":"inject","z":"3395b541.cbc772","name":"section force ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,249,0,0,7,0,255,0,0,2]","payloadType":"bin","x":360,"y":1180,"wires":[["9a6ea1a2.14fb2"]]},{"id":"801bf70f.22e77","type":"inject","z":"3395b541.cbc772","name":"section force OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[127,249,0,0,7,0,0,0,255,2]","payloadType":"bin","x":370,"y":1220,"wires":[["9a6ea1a2.14fb2"]]},{"id":"a9faa9a0.2e72f","type":"Blockly","z":"3395b541.cbc772","language":"en","func":"msg['payload'] = ([(flow.get('section1')),(flow.get('section2')),(flow.get('section3')),(flow.get('section4')),(flow.get('section5')),(flow.get('section6')),(flow.get('section7')),(flow.get('section8'))].join(''));\nreturn msg;\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"bi1ubq[M/OVBW`[55,P8\" x=\"-137\" y=\"-37\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"gZ)WY1/33_hr-]c.P2v9\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"76,J,eGNLG-`OiYgr1wB\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"N)Z|30p*)qY!v#hH[`fT\"><field name=\"TEXT\"></field></shadow><block type=\"text_join\" id=\"v#{@AqOr}EUL#PP|YeSU\"><mutation items=\"8\"></mutation><value name=\"ADD0\"><block type=\"node_object_get\" id=\"2htanh9||[7R2Z8x/Jw$\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"?ZUK*1FL+^KBb..TheI-\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"[-SX)!pdcc,L!D*))X#w\"><field name=\"TEXT\">section1</field></shadow></value></block></value><value name=\"ADD1\"><block type=\"node_object_get\" id=\"j{8csF=j+M@gDS0plD$^\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"3zF[@X=gB,GA$OiBh-{b\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"!{L1ltheV%uf|f%-M!DV\"><field name=\"TEXT\">section2</field></shadow></value></block></value><value name=\"ADD2\"><block type=\"node_object_get\" id=\"GZS!-JwzWQB/{5g6u;8[\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\".02SrrVK4M8ro9WHjq=_\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"MJQXtx6l8v)f#mx+97^@\"><field name=\"TEXT\">section3</field></shadow></value></block></value><value name=\"ADD3\"><block type=\"node_object_get\" id=\"fBfL2B3QQv3B*BMNO4ma\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"I?Ihml[]C=os(%j7H@f{\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"#Qvd5P.p*$P=^chdZsB.\"><field name=\"TEXT\">section4</field></shadow></value></block></value><value name=\"ADD4\"><block type=\"node_object_get\" id=\"2,Rs1[1BnKJU;8g]0:=x\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"?.RL3m*h/,1mH`@Ir~@)\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"^Nx-QR@tj!YMbi~(WOmy\"><field name=\"TEXT\">section5</field></shadow></value></block></value><value name=\"ADD5\"><block type=\"node_object_get\" id=\"X;xR#$XXMn$~A1Ztu_8.\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"V*6@1cONR0|pYSzES/38\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"9C;UNPmsBvWZl^7kn46y\"><field name=\"TEXT\">section6</field></shadow></value></block></value><value name=\"ADD6\"><block type=\"node_object_get\" id=\"Ygp;]@[SdvAA7j9E@Y@5\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"P/dI;K(Zk[WwLFVv-oi/\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"?[Hi(uk2K}HCCp`PvxRh\"><field name=\"TEXT\">section7</field></shadow></value></block></value><value name=\"ADD7\"><block type=\"node_object_get\" id=\"N:jqvPXWtlqkf|Vwy#M0\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"}tF*`4WOP[bX0jN8o{x}\"></shadow><block type=\"node_flow_memory\" id=\"/=MYp[KZN[=.TPaW8}m[\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"jE,FpgX!;=JmQk=+D-*?\"><field name=\"TEXT\">section8</field></shadow></value></block></value></block></value><next><block type=\"node_return_message\" id=\".=N!fZY=SHIu:|N9eK[L\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"L0Wq[lXA@+]!v648gR[{\"></shadow></value></block></next></block></xml>","outputs":1,"name":"buffer","x":490,"y":1600,"wires":[["43d21bdd.f53f44","5afd36f7.651298"]]},{"id":"43d21bdd.f53f44","type":"debug","z":"3395b541.cbc772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":1540,"wires":[]},{"id":"55205d10.fdb65c","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1300,"wires":[["dc7d3604.2ebb08"]]},{"id":"dbcb055d.7c1ab8","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1340,"wires":[["dc7d3604.2ebb08"]]},{"id":"dc7d3604.2ebb08","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1320,"wires":[["a9faa9a0.2e72f"]]},{"id":"c79647f0.1519d8","type":"bit-simple-sixteen","z":"3395b541.cbc772","name":"","x":770,"y":1280,"wires":[["855d1c47.bdd198"]]},{"id":"855d1c47.bdd198","type":"debug","z":"3395b541.cbc772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":1280,"wires":[]},{"id":"742ab068.2aa4a8","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"128","payloadType":"num","x":540,"y":1300,"wires":[["c79647f0.1519d8"]]},{"id":"5afd36f7.651298","type":"function","z":"3395b541.cbc772","name":"convert","func":"input = msg.payload; // Input with Radix 16 = HEX.\n// * Use this input base value for all parseInt() function calls.\n\ndecimal = parseInt(input, 2).toString(10); // Radix 2 = BINARY output\n\nmsg.payload = decimal;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1600,"wires":[["d47c1c18.25111","18dbd01c.a1841"]]},{"id":"d47c1c18.25111","type":"debug","z":"3395b541.cbc772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":1540,"wires":[]},{"id":"b2dcfa37.49ea3","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1111","payloadType":"num","x":510,"y":1660,"wires":[["5afd36f7.651298"]]},{"id":"506aa398.012e2c","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":510,"y":1700,"wires":[["5afd36f7.651298"]]},{"id":"79029635.9ebe38","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11111111","payloadType":"num","x":500,"y":1740,"wires":[["5afd36f7.651298"]]},{"id":"1ed2590c.5a146f","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1380,"wires":[["c62f1059.71fd38"]]},{"id":"7415d9ad.403dc","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1420,"wires":[["c62f1059.71fd38"]]},{"id":"c62f1059.71fd38","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1400,"wires":[["a9faa9a0.2e72f"]]},{"id":"aa8db787.edb56","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1460,"wires":[["2f7eee25.c1ac92"]]},{"id":"15923833.70b4d","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1500,"wires":[["2f7eee25.c1ac92"]]},{"id":"2f7eee25.c1ac92","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1480,"wires":[["a9faa9a0.2e72f"]]},{"id":"824fca41.19f55","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1540,"wires":[["9ef2904f.a2163"]]},{"id":"4165f45b.3e536c","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1580,"wires":[["9ef2904f.a2163"]]},{"id":"9ef2904f.a2163","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1560,"wires":[["a9faa9a0.2e72f"]]},{"id":"815c7f.bcba538","type":"debug","z":"3395b541.cbc772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"buffer","targetType":"msg","statusVal":"payload","statusType":"auto","x":1230,"y":1600,"wires":[]},{"id":"3ea76b5f.7b5264","type":"Blockly","z":"3395b541.cbc772","language":"fr","func":"var mybuffer;\n\n\nmsg['payload'];\n\nmybuffer = (Buffer.alloc(4));\nmybuffer[0] = (msg['payload']);\nmybuffer[1] = 250;\nmybuffer[2] = 1;\nmybuffer[3] = 0;\nmsg['buffer'] = mybuffer;\nnode.send([msg]);\n\nmybuffer;\n\n0;\n\n(Buffer.alloc(0)).toString(\"utf8\");\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"a$Jz~+|Kc1+4ryiD2g4m\">mybuffer</variable></variables><block type=\"node_object_get\" id=\"o/dM~SLdUVB:AV_@6Cdv\" x=\"388\" y=\"-138\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"^yrqA-Cyj;XoBp2,7pD8\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"VH7fyqxLrqF^+TQuMl(E\"><field name=\"TEXT\">payload</field></shadow></value></block><block type=\"variables_set\" id=\"Sw4%H1g/RmW}(Jb`:=Df\" x=\"363\" y=\"12\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field><value name=\"VALUE\"><block type=\"buffer_alloc\" id=\"W6:uj85o52Vn19WL0f+C\"><value name=\"LENGTH\"><shadow type=\"math_number\" id=\"|(z#_;G=^nG*6Vj(Ct$v\"><field name=\"NUM\">4</field></shadow></value></block></value><next><block type=\"buffer_set_index\" id=\"p~89uz^uY3;0xURjNN/o\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"z,L4.3:#[M{zM*r]}T/S\"><field name=\"NUM\">1</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"M@6+#Y_B}~z}wPlqDQmv\"></shadow><block type=\"variables_get\" id=\"zePIQt#tLkck%*2fI{rG\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field></block></value><value name=\"VALUE\"><shadow type=\"buffer_byte\" id=\"8a-UfX-(r,WaUFsW`p.F\"><field name=\"BYTE_VALUE\">255</field></shadow><block type=\"node_object_get\" id=\"by*QI|sF~Ox/3fzv_l;j\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"YCpb9G|cS/g[Sq.Br1S)\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"jM|8D2(.*mW{N|iEgE.n\"><field name=\"TEXT\">payload</field></shadow></value></block></value><next><block type=\"buffer_set_index\" id=\"85`RS#i2.e`c,@!ePAn+\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"`mB$k7la,}N3kk:;*N`Z\"><field name=\"NUM\">2</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"Ld[WI8E0wDGTOa{HUmph\"></shadow><block type=\"variables_get\" id=\"`~NU-XQ6qf71)vq$-W?,\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field></block></value><value name=\"VALUE\"><shadow type=\"buffer_byte\" id=\"Ho[`Kkc^w`pMFF@wkV)!\"><field name=\"BYTE_VALUE\">250</field></shadow></value><next><block type=\"buffer_set_index\" id=\"?/3/H3:b#Mhk@04j$iMn\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"awf+1s*%:?tuMMQB#V0k\"><field name=\"NUM\">3</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"hl%lccsj(2[i5#oNm2FJ\"></shadow><block type=\"variables_get\" id=\"}UBNnyiAc~66.vGmjy4b\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field></block></value><value name=\"VALUE\"><shadow type=\"buffer_byte\" id=\"{(JR|AE$(7X]=52zCWjh\"><field name=\"BYTE_VALUE\">1</field></shadow></value><next><block type=\"buffer_set_index\" id=\"YUD[Stu]e|c,8xG:!0gi\"><value name=\"INDEX\"><shadow type=\"math_number\" id=\"4R1gWAUcR!,~rOJ[x0E9\"><field name=\"NUM\">4</field></shadow></value><value name=\"BUFFER\"><shadow type=\"buffer_empty\" id=\"QHLJ;x_Y|NhY6fJr9me4\"></shadow><block type=\"variables_get\" id=\"R%s#N2DrDGi.#5z0dl8_\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field></block></value><value name=\"VALUE\"><shadow type=\"buffer_byte\" id=\"kgI+AG2y^p$N[:97h6Nh\"><field name=\"BYTE_VALUE\">0</field></shadow></value><next><block type=\"node_object_set\" id=\"bv7uUwD:AwTbkbdFknFL\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"FrNA@/I+*]ycPEDcxW@.\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"|_9o(KJ#2B2_U8-cu[bp\"><field name=\"TEXT\">buffer</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"JF~bCX+i=;*[TXLuc[#t\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\";9%?b~^hcD0rlfK+0M=6\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field></block></value><next><block type=\"node_send\" id=\"QsK.GH4iiBFdl.di2HDC\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"i=rwrv5/ceF@pyFcREEw\"></shadow></value></block></next></block></next></block></next></block></next></block></next></block></next></block><block type=\"variables_get\" id=\"603i|yVD1l^Pq$LxB=#V\" x=\"237\" y=\"37\"><field name=\"VAR\" id=\"a$Jz~+|Kc1+4ryiD2g4m\" variabletype=\"\">mybuffer</field></block><block type=\"buffer_byte\" id=\"3G{Tl7]2@?eJp!+l)4b5\" x=\"188\" y=\"212\"><field name=\"BYTE_VALUE\">0</field></block><block type=\"buffer_to_string\" id=\"3^Go4_vcQdIq1C1kAh2P\" x=\"438\" y=\"388\"><field name=\"ENCODING\">utf8</field><value name=\"BUFFER_INPUT\"><shadow type=\"buffer_empty\" id=\"wIGjairaD4D%==(iOm6}\"></shadow></value></block></xml>","outputs":1,"name":"buffer","x":1070,"y":1600,"wires":[["815c7f.bcba538"]]},{"id":"18dbd01c.a1841","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section1-8","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1600,"wires":[["3ea76b5f.7b5264"]]},{"id":"9f4f0ecf.5fd428","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1620,"wires":[["1261da09.a5bfbe"]]},{"id":"29e6a0fa.5dbf","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1660,"wires":[["1261da09.a5bfbe"]]},{"id":"1261da09.a5bfbe","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1640,"wires":[["a9faa9a0.2e72f"]]},{"id":"69bf6125.ae36d8","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1700,"wires":[["2598b7e7.a95688"]]},{"id":"5fe1ac39.d355d4","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1740,"wires":[["2598b7e7.a95688"]]},{"id":"2598b7e7.a95688","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1720,"wires":[["a9faa9a0.2e72f"]]},{"id":"db9e8b3f.318798","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1780,"wires":[["4aebcd1a.f089cc"]]},{"id":"88cbe7df.0e12d","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1820,"wires":[["4aebcd1a.f089cc"]]},{"id":"4aebcd1a.f089cc","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section7","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1800,"wires":[["a9faa9a0.2e72f"]]},{"id":"b3df0669.79ec08","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1860,"wires":[["40665f93.65cd68"]]},{"id":"e3ceccad.d5f8c","type":"inject","z":"3395b541.cbc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":1900,"wires":[["40665f93.65cd68"]]},{"id":"40665f93.65cd68","type":"change","z":"3395b541.cbc772","name":"","rules":[{"t":"set","p":"section8","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1880,"wires":[["a9faa9a0.2e72f"]]},{"id":"aa60d181.9fbb1","type":"mcp23017chip","addr":"0x20","interval":"100"}]
